.carrossel__titulo {
    color: var(--cor-titulo-menu);
    background-color: var(--cor-header);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}